.i1{
    font-size: 25px;
    font-weight: bolder;
}
.i2{
    color: #00a8ff;
}
.i3{
    background-color: #192a56;
}


  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #00a8ff; 
  }
  
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.active:focus {
    color: #00a8ff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  


.navbar-nav .nav-link {
    color: white; /* Default color for links */
    position: relative;
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #00a8ff; /* Yellow color for the underline */
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease; /* Add a transition for smooth animation */
  }
  
  .navbar-nav .nav-link:hover::after,
  .navbar-nav .nav-link:focus::after,
  .navbar-nav .nav-link:active::after {
    width: 100%; /* Expand the underline to full width on hover, focus, and click */
  }
  
  



 .as2{
    font-weight: bolder;
 }
  
 .as3{
    color: #00a8ff;
 }

 .as4{
    color: #00a8ff;
    font-weight: bolder;
    font-style: oblique;
 }

 .btn1 {
    border: none;
    width: 15em;
    height: 3em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    text-decoration: none;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .btn1:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn1:hover .text {
    color: white;
  }
  
  .btn1:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 

  .k1{
    font-size: 50px;
  }





.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}

.n1 {
    position: relative;
    border: none;
    margin: 10px;
    background-color: transparent;
  }
  
  .n1 a {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .n1 a:hover {
    transform: translateY(-20px);
  }
  
  .n1 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s ease;
  }
  
  .n1 a:hover::before {
    transform: skewX(45deg) translateX(-150px);
  }
  
  .n1 a svg {
    width: 3em;
  }
  
  #facebook {
    color: rgba(10, 128, 236, 0.7);
  }
  .card {
  --font-color: black;
  --bg-color: white;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a,
              9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: .4s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-color: white;
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}


.z{
    color: #00a8ff;
}

@media (max-width: 320px) {
    .card{
        margin-left: 30px;
    }
  }

  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: darkblue;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: blue;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #192a56; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #192a56; 
  }

  /* .jj1{
    animation-name: homemove;
    animation-duration: 3s;
  }

  @keyframes homemove {
    0%{
      transform: translateX(-200px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
    }
  }

  .jj1{
    animation-name: homemove1;
    animation-duration: 3s;
  }

  @keyframes homemove1 {
    0%{
      transform: translateX(-200px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
    }
  } */

  